@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-main text-gray-800 leading-6;
}

body {
  font-family: Century, "游明朝", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", Arial, nc3Jp, sans-serif !important;
}

body * {
  @apply tracking-widest leading-6;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-subAccent rounded-sm;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

#googlesearch {
  height: 0;
  width: 0;
}

#googlesearch form {
  @apply hidden;
}

.gsc-results-wrapper-overlay.gsc-results-wrapper-visible {
  @apply !z-[60];
}

.gsc-control-cse {
  @apply invisible p-0;
}

.gsc-positioningWrapper {
  @apply invisible;
}

/* スライダー */
.swiper-slide {
  width: fit-content !important;
}

.swiper-button-next {
  color: #9d9d9d !important;
  position: initial !important;
  display: grid !important;
  place-content: center !important;
  width: 2.4rem !important;
  height: 2.4rem !important;
  cursor: pointer !important;
  transition: 0.3s !important;
}

.swiper-button-prev {
  color: #9d9d9d !important;
  position: initial !important;
  display: grid !important;
  place-content: center !important;
  width: 2.4rem !important;
  height: 2.4rem !important;
  cursor: pointer !important;
  transition: 0.3s !important;
}

.swiper-button-next::after {
  content: "" !important;
}

.swiper-button-prev::after {
  content: "" !important;
}

/* youglish */
#yg-widget {
  @apply !bg-main;
}
